<div class="container grid-md">
	<div class="columns">
		<header class="column col-12">
			<img id="burger-gif" class="centered img-responsive" src="https://media.giphy.com/media/uQvxobRExS9nG/giphy.gif">
			<h1 class="text-center">Eat-Da-Burger!</h1>
			<div class="divider"></div>
		</header>	
    	
    {{#> section title="To Eat"}}
			{{#each burgers}}
				{{#unless this.devoured}}
					<form action="/{{this.id}}?_method=put" method="POST">          
						{{> tile}}
					</form>
				{{/unless}}
			{{/each}}
    {{/ section}}
    
		<div class="divider-vert"></div>
    
    {{#> section title="Devoured"}}
			{{#each burgers}}
				{{#if this.devoured}}
					{{> tile}}
				{{/if}}
			{{/each}}
    {{/ section}}
    
	</div> {{!-- end columns div --}}
  
	<div class="columns">
		{{!-- add burger form --}}
		<div class="column col-12">
			<h2>Add a Burger</h2>
		</div>
		<div class="column col-8 col-sm-10 col-xs-12">
			<form action="/" method="POST">
				<div class="form-group mb-2">
					<label for="txtBurgerName" class="form-label">Enter a burger you want to eat:</label>
					<div class="input-group">
						<input type="text" id="txtBurgerName" name="burger_name" class="form-input input-lg">
						<button type="submit" class="btn btn-primary input-group-btn btn-lg">Add Burger</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>